.header{
  background-color: #70D2B4;
  border-bottom: 4px solid #FF1493;
  /*色は相談*/
padding-left: 100px;
}
.header h1 {
  font-size: 18px;
  color: #ffffff;
}
.header h2 {
  font-size: 16px;
  color: #000;
  font-family: HGP行書体;
}
.header h3 {
	 font-size:1px;
	 float:right;
span {
  color: #9400D3;
}
.main {
  margin: 0;
  width: 100vw;
  height: 100vh; background-image:url("https://cdn.amanaimages.com/preview640/10610003870.jpg");
  font-size: 30px;
   border-bottom: 4px solid #FF1493;
  /*色は相談*/
  
}
 a {
   margin: 50px 1px 20px 50px; 
 }

.footer-list {
  background-color: #149494;
float: right;
  color: #fff;
}
#popup{
  width:30%;
  line-height:100px;
	backgroiund-color: #fff;
	font-size:20px;
	
  background:  linear-gradient( 
		#d64fcd, 
		#60b6ef, 
		#89d37a, 
		#f9ed7d
	);
  padding:0 4%;
  box-sizing:border-box;
  display:none;
  position:fixed;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
img{
  width:100%;
}
label{
  display:block;
}
label span{
  display:block;
  background-color:#01b6ed;
  color:#fff;
  width:200px;
  line-height:40px;
  border-radius:4px;
  text-align:center;
}
label span:hover{
  cursor:pointer;
}
input[type="checkbox"]{
  display:none;
}

input[type="checkbox"]:checked + #popup{
  display:block;
  transition:.2s;
}

.popup {
  font-size: 1px;
}
